fastapi
uvicorn
jinja2
python-multipart
pydantic-settings

langgraph
langchain-core
langchain-community
langchain_groq
langchain-tavily
langchain-pinecone
langchain-text-splitters
pinecone
langchain-huggingface 
huggingface_hub
pypdf
python-docx
python-dotenv